{% extends 'base.html' %}

{% block title %}Post List{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row">
        <div class="col">
            
            {% include '_message.html' %}

            <h2>Post List

                <span class="float-right" style="display: inline-block;width: 100px;float: right;">
                    <a href="{% url 'post_create' %}" class="btn btn-success btn-sm">Add New</a>
                </span>
            </h2>

            <form class="row row-cols-lg-auto g-3 align-items-center" action="" method="GET">
                <div class="col-12">
                  <label class="visually-hidden" for="inlineFormInputGroupUsername">Title</label>
                  <div class="input-group">
                    <div class="input-group-text">&#128269</div>
                    <input type="text" name="title" class="form-control" id="inlineFormInputGroupUsername" placeholder="Search by Title">
                  </div>
                </div>
              
            
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Created</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <th scope="row">{{ post.pk }}</th>
                        <td>{{ post.title }}</td>
                        <td>{{ post.created|date:'d-m-Y H:i:s a' }}</td>
                        <td>
                            <a href="{% url 'post_detail' post.pk %}" class="btn btn-info btn-sm">View</a>
                            <a href="{% url 'post_update' post.pk %}" class="btn btn-primary btn-sm">Edit</a>
                           
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-{{post.pk}}">
                                Delete
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal-{{post.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ post.title }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="text-danger">Are you sure want to delete this?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{% url 'post_delete' post.pk %}" method="post">
                                            {% csrf_token %}
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Confirm</button>
                                        </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>

            <div class="col-md-12 py-5">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if posts.has_previous %}
                            <li class="page-item disabled">
                                <a class="page-link" href="?page=1">
                                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ posts.previous_page_number }}">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </a>
                            </li>
                        {% endif %}

                        {% for num in posts.paginator.page_range %}
                            {% if posts.number == num %}
                                <li class="page-item active">
                                    <a class="page-link">{{ num }}</a>
                                </li>
                            {% elif num > posts.number|add:'-5' and num < posts.number|add:'5' %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if posts.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ posts.next_page_number }}">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ posts.paginator.num_pages }}">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>
{% endblock %}